.select-day-schedule{
    width: 140px;
    height: 25px;
    border: none;
    border-bottom: 1px solid  #49bce2;
    color:  #49bce2;
    font-weight: 500;
    outline: none;
}
.icon-calender{
    margin-top: 15px;
    font-size: 18px;
}
.list-day-schedule{
    margin-top: 15px;
    ul{
        display: flex;
        padding-left: 0px;
        flex-wrap: wrap;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            background-color: rgb(255, 255, 120);
            font-weight: 500;
            margin-bottom: 10px;
            width: 120px;
            height: 38px;
            &:hover{
                background-color:  rgb(233, 233, 75);
            }
        }
    }
}