/* ForgotPasswordForm.module.css */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    background-image: url("https://img4.thuthuatphanmem.vn/uploads/2020/07/05/background-y-te_034617740.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container {
    margin: auto;
    max-width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 6px 6px 20px 6px rgba(143, 143, 143, 0.19);
  }
  
  .icon {
      font-size: 40px;
  }
  .formGroup {
    margin-bottom: 20px;
  }
  
  .h2 {
    text-align: center;
    padding-bottom: 10px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-radius: 10px;
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: #0088cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color:  #0175af;
  }
  